# Node environment
NODE_ENV=dev

# Time zone
TZ=Europe/Paris

# Limits
REQUEST_MAX_SIZE=10mb

# API host
HOST=localhost

# API port
PORT=3333

# Database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=your_database_name

# Session driver
SESSION_DRIVER=cookie

# Client app url
CLIENT_APP_URL=http://localhost:5173

# JWT
JWT_SECRET=your_very_long_random_secret_key_here
JWT_SECRET_REFRESH=your_different_very_long_refresh_secret_here
JWT_ALGORITHM=HS256

#stripe
STRIPE_SK=your_stripe_secret_key
STRIPE_PK=your_stripe_public_key
STRIPE_SK_TEST=your_stripe_secret_key_test
STRIPE_PK_TEST=your_stripe_public_key_test
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret
STRIPE_SUBSCRIPTION_STARTER_PRICE_ID=your_subscription_starter_price_key
STRIPE_SUBSCRIPTION_PLUS_PRICE_ID=your_subscription_plus_price_key
STRIPE_SUBSCRIPTION_ULTRA_PRICE_ID=your_subscription_ultra_price_key

# Mailer
MAILER_HOST=mailer_dns
MAILER_PORT=465
MAILER_USER=mailer_user
MAILER_PASS=mailer_password
MAILER_SENDER=donotrespond@mail.com